#menu {
    overflow: hidden;
    height: 100%;
    float: left;
    user-select: none;
  } 

#menu #ensconce{
  width: 50px;
  height: 100%;
  background-color: #20343c;
  float: left;
  position: relative;
}
#menu #ensconce h3 {
  cursor: pointer;
  color: #fff;
  font-size: 0.24rem;
  line-height: 0.5rem;
  width: 100%;
  position: absolute;
  top: 35%;
}
#menu #ensconce h3 img {
  width: 20px;
}

#menu #open{
  width: 200px;
}
#menu #open .navH span .obscure {
  width: 24px;
}